version: "3.9"

services:
  frontend:
    image: node:18
    working_dir: /app
    volumes:
      - ./src/frontend:/app
    command: ["npm", "start"]
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    image: node:18
    working_dir: /app
    environment:
    volumes:
      - ./src/backend:/app
    command: ["npm", "run", "dev"]
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: somepassword
      POSTGRES_DB: chatbox
    volumes:
      - chatbox_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  chatbox_data:

